<nav class="navbar bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">
      <img src="../assets/graduation-cap-solid.svg" width="45px" height="45px" alt="">
      Registro de Tutores a Grupo
    </a>
  </div>
</nav>

<div class="container mt-3">
  <div class="row g-3 align-items-center mt-2">
    <div class="col-auto">
      <label class="col-form-label">Tipo de filtro:</label>
    </div>
    <div class="col">
      <select class="form-select" formControlName="periodo" required>
        <option value="">Selecciona una opción</option>
        <option value="1">Todos los tutores por area</option>
        <option value="2">Filtro 2</option>
        <option value="3">Filtro 3</option>
      </select>
      <!-- <div *ngIf="periodo?.invalid && (periodo?.dirty || periodo?.touched)" class="invalid-feedback">
        Por favor, selecciona una opción válida.
      </div> -->
    </div>
  </div>

  <div class="row g-3 align-items-center mt-2">
    <div class="col-auto">
      <label class="col-form-label">Tutor:</label>
    </div>
    <div class="col">
      <input type="text" class="form-control">
      <!-- <div *ngIf="periodo?.invalid && (periodo?.dirty || periodo?.touched)" class="invalid-feedback">
        Por favor, selecciona una opción válida.
      </div> -->
    </div>
  </div>

  <div class="row g-3 align-items-center mt-2">
    <div class="col-auto">
      <label class="col-form-label">Fecha de inicio</label>
    </div>
    <div class="col">
      
      <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Elije una fecha</mat-label>
        <input matInput [matDatepicker]="picker">
        <mat-hint>MM/DD/YYYY</mat-hint>
        <mat-datepicker-toggle matIconSuffix [for]="picker">
          <mat-icon matDatepickerToggleIcon>keyboard_arrow_down</mat-icon>
        </mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>
      

      <!-- <div *ngIf="periodo?.invalid && (periodo?.dirty || periodo?.touched)" class="invalid-feedback">
        Por favor, selecciona una opción válida.
      </div> -->
    </div>
  </div>

  <div class="row g-3 align-items-center mt-2">
    <div class="col-auto">
      <label class="col-form-label">Coordinador de tutoreo</label>
    </div>
    <div class="col">
      <select class="form-select" formControlName="periodo" required>
        <option value="">Selecciona una opción</option>
        <option value="1">Ana Cecilia Velazquez Lopez</option>
        <option value="2">Tutor 2</option>
        <option value="3">Tutor 3</option>
      </select>
      <!-- <div *ngIf="periodo?.invalid && (periodo?.dirty || periodo?.touched)" class="invalid-feedback">
        Por favor, selecciona una opción válida.
      </div> -->
    </div>
  </div>

  <div class="row g-3 align-items-center mt-2">
    <div class="col-auto">
      <label class="col-form-label">Unidad academica</label>
    </div>
    <div class="col">
      <select class="form-select" formControlName="periodo" required>
        <option value="">Selecciona una opción</option>
        <option value="1">Universidad Tecnologica de Aguascalientes</option>
      </select>
      <!-- <div *ngIf="periodo?.invalid && (periodo?.dirty || periodo?.touched)" class="invalid-feedback">
        Por favor, selecciona una opción válida.
      </div> -->
    </div>
  </div>

  <div class="row g-3 align-items-center mt-2">
    <div class="col-auto">
      <label class="col-form-label">Carrera</label>
    </div>
    <div class="col">
      <select class="form-select" formControlName="periodo" required>
        <option value="">Selecciona una opción</option>
        <option value="1">TSU Administracion</option>
        <!-- <option value="2">TSU Paramedico</option>
        <option value="3">TSU Tecnologias de la Informacion</option>
        <option value="4">TSU Contaduria</option>
        <option value="5">TSU Administracion de Empresas</option> -->
      </select>
      <!-- <div *ngIf="periodo?.invalid && (periodo?.dirty || periodo?.touched)" class="invalid-feedback">
        Por favor, selecciona una opción válida.
      </div> -->
    </div>
  </div>

  <div class="row g-3 align-items-center mt-2">
    <div class="col-auto">
      <label class="col-form-label">Especialidad</label>
    </div>
    <div class="col">
      <select class="form-select" formControlName="periodo" required>
        <option value="">Selecciona una opción</option>
        <option value="1">Capital Humano</option>
      </select>
      <!-- <div *ngIf="periodo?.invalid && (periodo?.dirty || periodo?.touched)" class="invalid-feedback">
        Por favor, selecciona una opción válida.
      </div> -->
    </div>
  </div>

  <div class="row g-3 align-items-center mt-2">
    <div class="col-auto">
      <label class="col-form-label">Periodo</label>
    </div>
    <div class="col">
      <select class="form-select" formControlName="periodo" required>
        <option value="">Selecciona una opción</option>
        <option value="1">Enero-Abril</option>
        <option value="2">Mayo-Agosto</option>
        <option value="3">Septiembre-Diciembre</option>
      </select>
      <!-- <div *ngIf="periodo?.invalid && (periodo?.dirty || periodo?.touched)" class="invalid-feedback">
        Por favor, selecciona una opción válida.
      </div> -->
    </div>
  </div>

  <div class="row g-3 align-items-center mt-2">
    <div class="col-auto">
      <label class="col-form-label">Grupo</label>
    </div>
    <div class="col">
      <select class="form-select" formControlName="periodo" required>
        <option value="">Selecciona una opción</option>
        <option value="1">AACH-1-A-6</option>
      </select>
      <!-- <div *ngIf="periodo?.invalid && (periodo?.dirty || periodo?.touched)" class="invalid-feedback">
        Por favor, selecciona una opción válida.
      </div> -->
    </div>
  </div>
</div>
  
<table class="table table-striped container mt-5 ">
    <thead>
      <tr>
        <th scope="col">No.</th>
        <th scope="col">Nombre del Grupo</th>
        <th scope="col">Cuatrimestre</th>
        <th scope="col">Carrera</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">1</th>
        <td>Administracion</td>
        <td>4</td>
        <td>Capital Humano</td>
      </tr>
    </tbody>
</table>